<ion-content fullscreen>
  <ion-slides pager>

    <ion-slide class="slide-image">
      <h2>Cartas</h2>
      <p>Seguem algumas cartas novas do jogo Legends of Runeterra.</p>
      
      <ion-button (click)="goToTabs()">Ir para Tabs</ion-button>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets\images\duskrider.png" />
      <h2>Duskrider</h2>
      <p>With every setting sun, the night unfurls its dark wings, and blots out the day's last remnants of hope.</p>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets\images\whiteflame_protector.png" />
      <h2>Whiteflame Protector</h2>
      <p>It was the children of Targon who first befriended the younger, more peaceful dragons. Perhaps these juvenile
        creatures could sense the children's innocent curiosity, and chose, instead of causing them harm, to offer them
        protection. </p>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets\images\startled_stomper.png" />
      <h2>Startled Stomper</h2>
      <p>"Aww, big Stomper don't wanna go through the wittle portal? That's okay, we can-- HAHAHAHA! Just kidding.
        OUTYOUGO!"<strong> - Zoe</strong></p>
    </ion-slide>

    <ion-slide>
      
    </ion-slide> 
  </ion-slides>
</ion-content>