<ion-header translucent>
  <ion-toolbar>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets\images\tasty_faefolk.png" />
    <ion-card-header>
      <ion-card-subtitle>Carta Comum</ion-card-subtitle>
      <ion-card-title>Tasty Faefolk</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Energy: 104kJ (25 kcal), Carbohydrates: 5.88g, Sugars: 3.53g, Dietary Fiber: 3g, Fat: 0.18g, Protein: 0.98g, Water: 92g...
    </ion-card-content>
  </ion-card>

</ion-content>

